$icomoon-font-family: 're' !default;
$icomoon-font-path: 'fonts' !default;

$re-home: '\e900';
$re-image: '\e90d';
$re-books: '\e920';
$re-profile: '\e923';
$re-bubble: '\e96b';
$re-rocket: '\e9a5';
$re-fire: '\e9a9';
$re-menu3: '\e9bf';
$re-menu4: '\e9c0';
$re-terminal: '\ea81';
$re-mail2: '\ea84';
$re-instagram: '\ea92';
$re-whatsapp: '\ea93';
$re-twitter: '\ea96';
$re-youtube: '\ea9d';
$re-github: '\eab0';
